@import "variables.scss";

.login-wrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  &__container {
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: white;
    padding: 1%;
    min-height: 30%;
    width: 800px;
    min-height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }
  &__form {
    margin: 5% 0 0 0;
  }
  &__hello {
    width: 50%;
    margin-top: 15px;
    margin-left: 25%;
    text-align: center;
  }
  &__hello span {
    font-weight: 600;
    font-size: 22px;
  }
}