$main_color: #25b6f5;
$dark: #082836;
$blue: #21a3db;
$dark_blue: #125775;
$semi_dark_blue: #1b87b5;
$red: #c2380a;
$light_red: #fd1e00;
$light_green: #25f54f;
$green: #3cc981;
$brown: #5c4529;
$orange: #f59525;